    <!-- Hector Section -->

    <section id="hector" class="text-center">
    	<img src="/img/meet2.jpg" style="max-width: 100%;" alt="Hector"> 
    </section>

    <section id="hector">
 	        <div class="row">
		    <div class="hidden-xs hidden-sm col-md-3"></div>
		    <div class="col-xs-4 col-sm-4 col-md-2">
			<div class="row">
			    <div class="col-xs-4 col-sm-4 col-md-4 col-vert-centered">
				<img class="img-responsive" src="/img/wireless.png">
			    </div><!-- comment for formatting
			 --><div class="col-xs-8 col-sm-8 col-md-8 col-vert-centered" style="text-align: left;">
				<h4 style="margin: 0;">LOUD</h4>
				<h4 style="margin: 0; font-weight: 100;">+ WIRED</h4> 
			    </div>
			</div>
		    </div>	
		    <div class="col-xs-4 col-sm-4 col-md-2">
			<div class="row">
			    <div class="col-xs-4 col-sm-4 col-md-4 col-vert-centered">
				<img class="img-responsive" src="/img/cloud.png">
			    </div><!-- comment for formatting
			 --><div class="col-xs-8 col-sm-8 col-md-8 col-vert-centered" style="text-align: left;">
				<h4 style="margin: 0;">LOUD</h4>
				<h4 style="margin: 0; font-weight: 100;">+ WIRED</h4> 
			    </div>
			</div>
		    </div>	
		    <div class="col-xs-4 col-sm-4 col-md-2">
			<div class="row">
			    <div class="col-xs-4 col-sm-4 col-md-4 col-vert-centered">
				<img class="img-responsive" src="/img/battery.png">
			    </div><!-- comment for formatting
			 --><div class="col-xs-8 col-sm-8 col-md-8 col-vert-centered" style="text-align: left;">
				<h4 style="margin: 0;">LOUD</h4>
				<h4 style="margin: 0; font-weight: 100;">+ WIRED</h4> 
			    </div>
			</div>
		    </div>	
		    <div class="hidden-xs hidden-sm col-md-3"></div>
                </div>
    </section>

    <section class="text-center">
    	<img src="/img/white_crop.png" style="max-width: 100%;" alt="Hector"> 
    </section>

    <section id="hector">
 	        <div class="row">
		    <div class="hidden-xs hidden-sm col-md-3"></div>
		    <div class="col-xs-4 col-sm-4 col-md-2">
			<div class="row">
			    <div class="col-xs-4 col-sm-4 col-md-4 col-vert-centered">
				<img class="img-responsive" src="/img/wireless.png">
			    </div><!-- comment for formatting
			 --><div class="col-xs-8 col-sm-8 col-md-8 col-vert-centered" style="text-align: left;">
				<h4 style="margin: 0;">LOUD</h4>
				<h4 style="margin: 0; font-weight: 100;">+ WIRED</h4> 
			    </div>
			</div>
		    </div>	
		    <div class="col-xs-4 col-sm-4 col-md-2">
			<div class="row">
			    <div class="col-xs-4 col-sm-4 col-md-4 col-vert-centered">
				<img class="img-responsive" src="/img/cloud.png">
			    </div><!-- comment for formatting
			 --><div class="col-xs-8 col-sm-8 col-md-8 col-vert-centered" style="text-align: left;">
				<h4 style="margin: 0;">LOUD</h4>
				<h4 style="margin: 0; font-weight: 100;">+ WIRED</h4> 
			    </div>
			</div>
		    </div>	
		    <div class="col-xs-4 col-sm-4 col-md-2">
			<div class="row">
			    <div class="col-xs-4 col-sm-4 col-md-4 col-vert-centered">
				<img class="img-responsive" src="/img/battery.png">
			    </div><!-- comment for formatting
			 --><div class="col-xs-8 col-sm-8 col-md-8 col-vert-centered" style="text-align: left;">
				<h4 style="margin: 0;">LOUD</h4>
				<h4 style="margin: 0; font-weight: 100;">+ WIRED</h4> 
			    </div>
			</div>
		    </div>	
		    <div class="hidden-xs hidden-sm col-md-3"></div>
                </div>
    </section>

    <section class="container text-center">
	<br>
	<br>
        <h2>Choose from 3 finishes</h2>
	<div class="row">
	    <div class="col-xs-4 col-md-4">
		<img src="/img/birch_light.jpg" class="img-circle" style="max-width: 30%;">
		<h4><br> light<br> stained <br> birch</h4>
	    </div>    
	    <div class="col-xs-4 col-md-4">
		<img src="/img/birch_dark.png" class="img-circle" style="max-width: 30%;">
		<h4><br> dark <br> stained <br> birch</h4>
	    </div>    
	    <div class="col-xs-4 col-md-4">
		<img src="/img/birch_black.jpg" class="img-circle" style="max-width: 30%;">
		<h4><br> black<br> painted <br> birch</h4>
	    </div>    
	</div>
    </section> 

    <section>
	<div class="row row-centered">
	    <div class="col-xs-2 col-centered" style="vertical-align: top;">
	        <img src="/img/switch_sm.jpg" class="img-responsive img-rounded"> 
	    </div>
	    <div class="col-xs-6 col-centered">
		<h4>Old-school tactile switches</h4>
		<p>Hector uses pleasantly tactile switches and knobs. Every flipswitch has a satisfying feel, and the volume knob is endlessly smooth. All of them are made entirely of metal, and are labelled with laser-engraved symbols in the wood. </p>
	        <br>
	        <br>
	    </div>
	</div>		

	<div class="row row-centered">
	    <div class="col-xs-2 col-centered" style="vertical-align: top;">
	        <img src="/img/screws.jpg" class="img-responsive img-rounded"> 
	    </div>
	    <div class="col-xs-6 col-centered">
		<h4>Complementary screw colors</h4>
		<p>Any color of finish you choose will come with a set of screws in a complementary color; Chrome screws for the light stain, gold screws for the dark stain, black screws for the black painted.</p>
	        <br>
	        <br>
	    </div>
	</div>		        

	<div class="row row-centered">
	    <div class="col-xs-2 col-centered" style="vertical-align: top;">
	        <img src="/img/strap_sm.jpg" class="img-responsive img-rounded"> 
	    </div>
	    <div class="col-xs-6 col-centered">
		<h4>guitar strap</h4>
		<p>Hector comes with a high quality synthetic leather guitar strap, making it wearable for easy portability. The all-metal strap hooks make the strap easily removable and/or replacable. Placement of the strap has been carefully calulated for ergonomic comfort.</p>
	        <br>
	        <br>
	    </div>
	</div>		        
    </section>


