 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top hidden-xs" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
	            <img style="height: 25px; padding: 0; display: inline;" src="/img/logo_small.png" /><span class="light">     Polydecibel</span> Audio </span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- div class="collapse navbar-collapse navbar-right navbar-main-collapse" -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#hector">Hector</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#buy">Buy</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
