<!-- TECH Specs section -->
    <section id="tech">
	<img src="/img/exploded.png" style="max-width: 100%; min-width: 100%;">
	<br>
	<br>
	<br>

	<div class="row row-centered">
	    <div class="col-xs-2 col-centered" style="vertical-align: top;">
		<h1 style="font-size: 80px; text-align: right;"><i class="fa fa-volume-off"></i></h1>
	    </div>
	    <div class="col-xs-6 col-centered">
		<h4>High-fidelity speaker drivers</h4>
		<p>Hector uses 6 full-size hi-fi drivers from Dayton Audio. The four woofers and two tweeters are divided into two discrete cabinets, in order to eliminate destructive interference within the speaker.</p>
	    </div>
	</div>		
	<br>
	<br>
	<br>
	<div class="row row-centered">
	    <div class="col-xs-2 col-centered" style="vertical-align: top;">
		<h1 style="font-size: 80px; text-align: right;"><i class="fa fa-space-shuttle"></i></h1>
	    </div>
	    <div class="col-xs-6 col-centered">
		<h4>110dB @ 10THD</h4>
		<p>So, how loud is it? Only one way to say it: Hector goes <b>LOUD.</b> A regular vacuum cleaner is about 70dB. Roskilde Festival allows up to 100dB for their concerts. Hector can easily play 110dB. </h>
	    </div>
	</div>		
	<br>
	<br>
	<br>
	<div class="row row-centered">
	    <div class="col-xs-2 col-centered" style="vertical-align: top;">
		<h1 style="font-size: 80px; text-align: right;"><i class="fa fa-music"></i></h1>
	    </div>
	    <div class="col-xs-6 col-centered">
		<h4>Optimal linear response</h4>
		<p>Hector uses the powerful Class-D Max-amp from Accusafe, along with a pair of second order crossover filters, at 12dB/oct, making the sound extremely unbiased across frequencies.</p>
	    </div>
	</div>		
	<br>
	<br>
	<br>
    </section>
	
	
